<div class="component-autocomplete">
    <form n:name="autoCompleteForm" method="post" class="ajax" autocomplete="off">
        <div class="input-wrapper">
            {snippet input}
            <input type="text" name="{$inputName}" onkeyup=" ac_onkeyup(this); " placeholder="{$inputLabel}" onfocus="this.value = ''">
            {/snippet}
            {snippet itemList}
            <ul class="autocomplete-list">
                <li n:foreach="$items as $item">
                    <a n:href="itemClicked! $item->$itemIdColumn" class="ajax">{$item->$itemTextColumn}</a>
                </li>
            </ul>
            {/snippet}
        </div>
        <input type="submit" class="hidden" id="autocomplete-submit">
    </form>

    <script>
        $(function(){
            $(window).on('click', function(e){
                if( !$('.component-autocomplete').includePoint(e.pageX, e.pageY) ){
                    $('.autocomplete-list').html('');
                }
            });
            $(document).keyup(function(e) {
                 if (e.keyCode == 27 && $('.autocomplete-list').html().length > 0 ) {
                    $('.autocomplete-list').html('');
                }
            });
        });

        var sendTimeout = null;
        var lastSent = '';
        function ac_onkeyup(input){
            if( $(input).val().length > 2 )
            {
                if( lastSent == $(input).val() )
                    return;

                lastSent = $(input).val();
                if(sendTimeout)
                    clearTimeout(sendTimeout);

                sendTimeout = setTimeout(function(){
                    $('#autocomplete-submit').click();
                }, 200);
            }
            else
            {
                $('.autocomplete-list').html('');
            }
        }
    </script>

</div>