<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}{$presenter->getProjectName()}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{$basePath}/images/favicon.svg" type="image/svg+xml">
    <link rel="icon" href="{$basePath}/images/favicon.png" type="image/png">

	<link rel="stylesheet" type="text/css" href="{$basePath}/css/bootstrap.css" />
    {*<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.css">*}
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="{$baseUrl}/css/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/flashes.css" />
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/datagrid.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin-ext"  />

    <script>var basePath = {$basePath};</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <script src="{$basePath}/js/netteForms.js"></script>
    <script src="{$basePath}/js/nette.ajax.js"></script>
    <script src="{$basePath}/js/bootstrap.min.js"></script>
    <script src="{$basePath}/js/jquery.magnific-popup.min.js"></script>
    <script src="{$basePath}/js/tinymce/tinymce.min.js"></script>
    <script src="{$basePath}/js/tinymce/jquery.tinymce.min.js"></script>
    <script src="{$basePath}/js/global.js?v={filemtime('js/global.js')}"></script>
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/backend.css?v={filemtime('css/backend.css')}" />
    <script src="{$basePath}/js/backend.js?v={filemtime('js/backend.js')}"></script>
    <script src="{$basePath}/js/datagrid.js"></script>


    {block head}{/block}
</head>

<body>
    {snippet flashes}
	    {include '../../../templates/flashes.latte'}
	{/snippet}

    {if $user->isLoggedIn() && $presenter instanceof App\Presenters\PrivatePresenter}
        <header>
            <div id="app-title">
                <a n:href="Dashboard:">
                    BiteIT
                </a>
            </div>
            <div id="app-title-right">
                <a n:href="Sign:out">
                    Odhlásit se
                </a>
            </div>
        </header>
        <section id="app">
            <section id="apps">
                <nav id="apps-items">
                    {include _menu.latte}
                </nav>
            </section>
            <section id="content">
                <div class="wrapper">
                    {include content}
                </div>
            </section>
        </section>
        {snippet modal}
            {ifset $modalHTML}{$modalHTML|noescape}{/ifset}
        {/snippet}
    {else}
        {include content}
    {/if}
</body>
</html>
