{foreach $presenter->getMenuItems() as $section => $items}
    <h2>{$section}</h2>
    <a n:foreach="$items as $item" n:href="':'.$item['destination'] $item['parameters'] ? $item['parameters'] "
            n:class="$presenter->getName().':'.$presenter->getAction() == $item['destination'] ? active">
        {$item['name']}
    </a>
{/foreach}
