{block content}
<div id="login-form">
    <div class="wrap">
        <h1 n:block=title class="tac block">Přihlášení</h1>
        {form signInForm}
            <div class="form-group hasIcon">
                <span class="icon fa fa-user"></span>
                {input email}
            </div>
            <div class="form-group hasIcon">
                <span class="icon fa fa-lock"></span>
                {input password}
            </div>
            <div class="form-group">
                <button name="login" value="1" type="submit" class="btn-primary button empty hasIcon">
                    Přihlásit
                    <span class="icon fa fa-lock"></span>
                </button>
            </div>
        {/form}
        <a id="forgotten-password" class="tac block" href="#">Zapomněl jsem heslo</a>
    </div>
</div>



