{define title}Správa uživatelů{/define}

{block content}
{if $presenter->getAction() == 'userNew'}
    <h2 class="page-header">Nový uživatel</h2>
    <div class="row">
        <div class="col-md-4">
            {control userForm}
        </div>
    </div>
{elseif $presenter->getAction() == 'userEdit'}
    <h1 class="page-header">Upravit uživatele</h1>
    <div class="row">
        <div class="col-md-4">
            &laquo; <a n:href="Settings:users">zpět</a>
            <br>
            <br>
            {control userForm, 'id' => $userId}
        </div>
    </div>
{/if}