{define title}Správa uživatelů{/define}

{block content}

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a n:href="Settings:userNew" class="button btn-primary hasIcon bgIcon"><span class="fa fa-user-plus"></span>Přidat uživatele</a>
        </div>
        <h2 class="page-header">Uživatelé</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="wrap bg">
            {snippet users}
            <table class="table">
                <thead>
                <tr>
                    <th>E-mail</th>
                    <th>Jméno a příjmení</th>
                    <th>Datum posledního přihlášení</th>
                    <th>Superadmin</th>
                    <th class="icons"></th>
                </tr>
                </thead>
                <tbody>
                <tr n:foreach="$users as $appUser">
                    <td><a n:href="Settings:userEdit $appUser->id">{$appUser->email}</a></td>
                    <td>{$appUser->getFullName()}</td>
                    <td>{$appUser->dateLogged|formattedDate,'d.m.Y H.i:s','<em>Ještě nebyl přihlášen</em>'|noescape}</td>
                    <td>{$appUser->superadmin ? 'Ano' : 'Ne'}</td>
                    <td class="icons">
                        {if $appUser->active}
                        <a n:href="banAction! $appUser->id" class="ajax">
                            <span class="fa fa-ban" style="color: red"></span>
                        </a>
                        {else}
                        <a n:href="banAction! $appUser->id" class="ajax">
                            <span class="fa fa-star"></span>
                        </a>
                        {/if}
                        &ensp;
                        <a n:href="Settings:userEdit $appUser->id">
                            <span class="fa fa-pencil"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            {/snippet}
        </div>
    </div>
</div>