<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$presenter->getProjectName()}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&amp;subset=latin-ext" rel="stylesheet">

    <link href="{$baseUrl}/assets/css/appleple-modal/modal-video.min.css" rel="stylesheet">
    <link href="{$baseUrl}/assets/css/bootstrap.css" rel="stylesheet">
    <link href="{$baseUrl}/css/magnific-popup.css" rel="stylesheet">
    <link href="{$baseUrl}/assets/css/template.css?v={filemtime('assets/css/template.css')}" rel="stylesheet">
    <link href="{$baseUrl}/assets/css/flex.css" rel="stylesheet">
    <link href="{$baseUrl}/css/flashes.css" rel="stylesheet">

    <script src="{$baseUrl}/assets/js/jquery-3.2.1.min.js"></script>
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="{$baseUrl}/assets/js/appleple-modal/jquery-modal-video.min.js"></script>
    <script src="{$baseUrl}/js/jquery.magnific-popup.min.js"></script>
    <script src="{$baseUrl}/js/netteForms.js"></script>
    <script src="{$baseUrl}/js/nette.ajax.js"></script>
    <script src="{$baseUrl}/js/frontend.js?v={filemtime('js/frontend.js')}"></script>
    <script src="{$baseUrl}/js/global.js?v={filemtime('js/global.js')}"></script>

</head>
<body>
{snippet flashes}
    {include '../../../templates/flashes.latte'}
{/snippet}

        {block content}
        {/block}

</body>
</html>