{block content}
<div id="inside-content" class="container">
    <h1>{$content->name}</h1>

    <div class="video" n:if="$content->youtube">
        <iframe src="https://www.youtube.com/embed/{$presenter->parseYT($content->youtube)}?autostart=1" allowfullscreen frameborder="0"
            width="800" height="450"></iframe>
    </div>

    <div class="text">
        {$content->description|noescape}
    </div>
</div>