{var $dndId = mt_rand(9999,999999);}
<form n:class="$isAjax ? 'ajax'" enctype="multipart/form-data" n:name="dragAndDropForm">
    <div class="dnd-drop-zone" id="dnd-drop-zone-{$dndId}">
        <div>{$text}</div>
        <div class="button" id="dnd-clickHere-{$dndId}">
            {$buttonText}
            <input type="file" name="{$inputName}" id="dnd-file" onchange=" $('#dnd-drop-zone-{$dndId} input[type=submit]').click(); "{strpos($inputName,'[]') !== false?' multiple'|noescape}/>
        </div>
        {$extraInputs|noescape}
        <input type="submit" id="dnd-dropSubmit">
    </div>
</form>

<script type="text/javascript">
$(function () {
    var dropZoneId = "dnd-drop-zone-{$dndId}";
    var buttonId = "dnd-clickHere-{$dndId}";
    var mouseOverClass = "mouse-over";

    var dropZone = $("#" + dropZoneId);
    var ooleft = dropZone.offset().left;
    var ooright = dropZone.outerWidth() + ooleft;
    var ootop = dropZone.offset().top;
    var oobottom = dropZone.outerHeight() + ootop;
    var inputFile = dropZone.find("input[type='file']");
    document.getElementById(dropZoneId).addEventListener("dragover", function (e) {
        e.preventDefault();
        e.stopPropagation();
        dropZone.addClass(mouseOverClass);
        var x = e.pageX;
        var y = e.pageY;

        console.log(x,y);

        if (!(x < ooleft || x > ooright || y < ootop || y > oobottom)) {
            inputFile.offset({ top: y - 15, left: x - 100 });
        } else {
            inputFile.offset({ top: -400, left: -400 });
        }

    }, true);

    if (buttonId != "") {
        var clickZone = $("#" + buttonId);

        var oleft = clickZone.offset().left;
        var oright = clickZone.outerWidth() + oleft;
        var otop = clickZone.offset().top;
        var obottom = clickZone.outerHeight() + otop;

        $("#" + buttonId).mousemove(function (e) {
            var x = e.pageX;
            var y = e.pageY;
            if (!(x < oleft || x > oright || y < otop || y > obottom)) {
                inputFile.offset({ top: y - 15, left: x - 160 });
            } else {
                inputFile.offset({ top: -400, left: -400 });
            }
        });
    }

    document.getElementById(dropZoneId).addEventListener("drop", function (e) {
        $("#" + dropZoneId).removeClass(mouseOverClass);
    }, true);


});
</script>
