{form userForm, 'user' => 1}
<fieldset>
    <div class="form-group">
        {input email}
    </div>
    <div class="form-group">
        {input password}
        <em class="hidden">Pro vygenerováni zanechte heslo prázdné</em>
    </div>
    <div class="form-group">
        {input firstname}
    </div>
    <div class="form-group">
        {input surname}
    </div>
    {if ($userEntity->superadmin)}
    <div class="form-group">
        {input superadmin}
    </div>
    {/if}
    <div class="form-group">
        <button name="createUpdateUser" value="1" type="submit" class="btn-primary button hasIcon bgIcon">
            Uložit
            <span class="icon fa fa-save"></span>
        </button>
    </div>
</fieldset>
{/form}