<div n:snippet="flashes">
    <div id="flash-wrapper">
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
            <span class="flash-close fa-lg fa fa-close"></span>
            <table>
                <tr>
                    <td class="flash-icon"><span class="fa fa-2x fa-{$flash->type|flashIconType}"></span></td>
                    <td class="flash-text">
                        <p>{$flash->message}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="timer-background">
                            <div class="timer"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script>
        $(function(){
            initFlashes();
        })
    </script>
</div>