#snippet--flashes {
    position: absolute;
    z-index: 10000;
}

#flash-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    line-height: 1.4em;
    padding-left: 20px;
}

#flash-wrapper .flash {
    display: block;
    margin: 5px 0 0 0;
    background: #de9536;
    padding: 20px 40px 20px 20px;
    border-radius: 4px;
    position: relative;
    user-select: none;
    cursor: pointer;
    max-width: 400px;
}

#flash-wrapper .flash .flash-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #333;
}

#flash-wrapper .flash:hover .flash-close {
    color: #000;
}

#flash-wrapper .flash.error .flash-close,
#flash-wrapper .flash.failure .flash-close,
#flash-wrapper .flash.success .flash-close,
#flash-wrapper .flash.ok .flash-close {
    color: #eee;
}

#flash-wrapper .flash.error:hover .flash-close,
#flash-wrapper .flash.failure:hover .flash-close,
#flash-wrapper .flash.success:hover .flash-close,
#flash-wrapper .flash.ok:hover .flash-close {
    color: #ccc;
}

#flash-wrapper .flash table {
    width: 100%
}

#flash-wrapper .flash.ok, #flash-wrapper .flash.success {
    background-color: #68af1a;
    color: #fff;
}

#flash-wrapper .flash.error, #flash-wrapper .flash.failure {
    background-color: #d24142;
    color: #ddd;
}

#flash-wrapper .flash .timer-background {
    margin-top: 1.5em;
    background-color: rgba(0, 0, 0, 0.25);
}

#flash-wrapper .flash .timer {
    display: block;
    height: 5px;
    background-color: #fff;
    content: " ";
}

#flash-wrapper .flash p {
    margin: 0;
}

#flash-wrapper .flash.ok .timer,
#flash-wrapper .flash.success .timer,
#flash-wrapper .flash.failure .timer,
#flash-wrapper .flash.error .timer {
    background-color: rgba(255, 255, 255, 0.9);
}

.flash-icon {
    padding-right: 15px;
    width: 30px;
    text-align: left;
}

.flash-icon span {
    width: 30px;
    text-align: center;
}

@media only screen and (max-width: 400px) {
    .flash-icon span {
        font-size: 14px;
    }

    #flash-wrapper .flash .timer-background {
        margin-top: 5px;
    }

    #flash-wrapper .flash .flash-close {
        top: 50%;
        margin: -7px 0 0 0;
    }
}